




@media screen and (min-width: 601px) {

  			.main_page{
  				font-size: 1vw;
  			}
  			.main_page .form_container{
  				width: 30%;
  			}

  			.main_page_posts .container-post{
  				font-size: 1vw;
  			}

  			.main_page_posts {
  				font-size: 1vw;
  			}

  			.message_container{
  				font-size: 1vw;
  			}

  			.nume{
  				font-size: 15px;
  			}
  
        }
  
@media screen and (max-width: 600px) {

            .main_page{
            	font-size: 2vw ;
            }
              	.main_page .form_container{
  				width: 80%;
  			}

  			.main_page_posts .container-post{
  				font-size: 2vw;
  			}

  			.main_page_posts {
  				font-size: 2vw;
  			}
  			.message_container{
  				font-size: 2vw;
  			}
  			.nume{
  				font-size: 8px;
  			}
  
        }


.main_page{

	width: 100%;
	display: flex;
	justify-content: center;



	
}


.message_container{
	display: flex;
	justify-content: center;
	width: 80%;



}

.main_page table{
	margin-top: 5px;
	border-style: solid;
	border-color: black;
	border-size: 0.5px;
	
}


.main_page th{
	border-style: solid;
	border-color:black;
	border-size: 0.5px;
	
}


.main_page td{
	border-style: solid;
	border-color: black;
	border-size: 0.5px;
	
}

.main_page tr{
	border-style: solid;
	border-color: black;
	border-size: 0.5px;
	
}



.pagination{
	padding: 2%;
	width: 100%;
	display: flex;
	justify-content: left;
}


.btn_add{
	margin-left: 2%;
	margin-top: 1%;
	width: 100%;
	display: flex;
	justify-content: left;
}


.main_page .form_container{
	margin-top: 1%;
	padding: 1%;
	display: flex;
	
	border-style: solid;
	border-color: black;
	border-size: 0.5px;
	justify-content: center;
	flex-direction: column;
	
}

.main_page .form_container .row{
	display: flex;
	justify-content: center;
	margin-top: 1%;
	width: 100%;
	align-content: center;

}


.main_page .form_container .column{
	
	margin-top: 1%;
	width: 90%;
	align-content: center;

}

.main_page_posts{
	display : flex ; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main_page_posts .container-post {
		justify-content: center;
		margin-top: 2%;
		width :80% ;
		border-style: solid;
		border-color : black;
		border-size: 0.5px;
		padding: 0.5%;

}


.main_page_posts .nume{
	margin-top: 1%;

}


.main_page .form_container .form_title{

	display: flex;
	justify-content: center;
	align-items: center;
}